@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To</h2>
    <p> 
    <div>
        <h1>STUDENT MANAGEMENT SYSTEM</h1>
    </div>
    <br />
    Learn about 
    
    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    
    </p>
</div>
