@model CourseReg3.Models.Courses


<form method="post" asp-action="DeletePost">
    <input asp-for="CourseId" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Delete Instructor</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CourseNumber"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="CourseName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="CourseNumber" disabled class="form-control" />
                    </div>
                    <div class="col-6">
                        <input asp-for="CourseName" disabled class="form-control" />
                    </div>
                    <div class="col-6">
                        <input asp-for="Description" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" asp-action="Index" class="btn btn-danger w-75" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
